/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #E6F4EA; /* Cor de fundo em tom de verde claro */
}

h2 {
  color: rgb(37, 46, 37);
}

li {
  text-decoration: none;
  list-style-type: none;
}

.container {
  padding: 16px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  width: 200px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.fixed-size-card {
  width: 250px; /* Largura fixa */
  min-height: 150px; /* Altura mínima */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
}

.arquivos-container {
  margin-top: 16px; /* Espaçamento superior entre as divs principais */
}

.voltar-button {
  margin-top: 16px; /* Espaçamento superior */
}

button {
  background-color: #66C974 !important; /* Cor principal dos botões */
  color: white !important; /* Cor do texto dos botões */
}

button:hover {
  background-color: #57B566 !important; /* Cor dos botões ao passar o mouse */
}

/* Sobrescrever estilos do tema predefinido do Angular Material */
.mat-card {
  background-color: #66C974 !important; /* Cor principal dos cards */
  color: white !important; /* Cor do texto dentro dos cards */
}

.mat-raised-button {
  background-color: #66C974 !important; /* Cor principal dos botões */
  color: white !important; /* Cor do texto dos botões */
}

.mat-raised-button:hover {
  background-color: #57B566 !important; /* Cor dos botões ao passar o mouse */
}
