/* Estilos globais */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #E6F4EA; /* Cor de fundo da página */
}

h2 {
  color: rgb(37, 46, 37);
}

li {
  text-decoration: none;
  list-style-type: none;
}

/* Estilos específicos do componente */
.container {
  padding: 16px;
}

.form-container-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espaçamento entre os formulários */
  margin-bottom: 32px; /* Espaçamento inferior */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; /* Espaçamento entre os elementos do formulário */
}

.create-directory-form {
  margin-bottom: 32px; /* Espaçamento entre os cards e o formulário para criar novo diretório */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px; /* Espaçamento entre os cards e o formulário */
}

.card {
  width: 200px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.fixed-size-card {
  width: 300px; /* Aumenta a largura fixa */
  min-height: 200px; /* Aumenta a altura mínima */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  background-color: #d3ecda !important; /* Cor de fundo dos cards */
}

.arquivos-container {
  margin-top: 16px; /* Espaçamento superior entre as divs principais */
}

.voltar-button {
  margin-top: 16px; /* Espaçamento superior */
}

button {
  background-color: #66C974 !important; /* Cor principal dos botões */
  color: white !important; /* Cor do texto dos botões */
}

button:hover {
  background-color: #57B566 !important; /* Cor dos botões ao passar o mouse */
}

/* Sobrescrever estilos do tema predefinido do Angular Material */
.mat-card {
  background-color: #798b7e !important; /* Cor de fundo dos cards */
  color: rgb(37, 46, 37) !important; /* Cor do texto dentro dos cards */
}

.mat-raised-button {
  background-color: #66C974 !important; /* Cor principal dos botões */
  color: white !important; /* Cor do texto dos botões */
}

.mat-raised-button:hover {
  background-color: #57B566 !important; /* Cor dos botões ao passar o mouse */
}

/* Estilos personalizados para inputs */
.form-input {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #66C974;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 201, 116, 0.5);
}
